h1 {
	color: red;
	border:1px solid black;
	text-decoration:underline;
	text-align: center;	
	background-color: blue;	
	font-family: Lucida Handwriting;
}

label {
	color: black;
	background-color: green, 
}

.titre_simple {
	color: black;
	border:1px solid black;	
	background-color: yellow;	
	font-family: Lucida Console;
}
#titre_unique{
	color: red;
	background-color: green 			
}
p{
	color: black;
	text-align: justify;
	font-family: Lucida Console;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: yellow;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: white;
}
#titre_gras {
	font-weight: bold;
}
img{
	float: right;
	border: 5px yellow;
	border-radius: 50px;
	width: 150px;
	height:154px;
	margin-top: 25px;
}
.li_simple{
	background-color: #ace600; 
	float: ;
}
.principal{
	margin-right: 100px;
}
body{
	background-color: #ffffb3
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}